{% extends '_main.html' %}
{% load static %}
{% block content %}

    <div class="containers">
      <div class="card">
        <div class="img img0"><span>GTR</span></div>
        <div class="content">
          <!-- <div class="title">Nissan GTR</div> -->
          <div class="desc">
            Quando se fala em carros esportivos, poucos nomes têm o mesmo peso e
            respeito que o Nissan GT-R. Este icônico veículo não é apenas uma
            máquina de alta performance, mas também um símbolo de inovação e
            excelência no design automotivo. A história do GT-R começa com o
            Nissan Skyline GT-R de 1969, um modelo que rapidamente conquistou
            uma legião de fãs no Japão e no mundo todo. Conhecido como
            "Godzilla" pelos entusiastas automotivos, o Skyline GT-R foi
            pioneiro na combinação de potência e tecnologia, estabelecendo novos
            padrões para carros esportivos. Em 2007, o GT-R foi reimaginado e
            reintroduzido ao mercado como o Nissan GT-R R35. Este modelo moderno
            trouxe uma série de melhorias significativas, consolidando o carro
            como uma verdadeira maravilha tecnológica. Equipado com um motor V6
            biturbo de 3.8 litros, o GT-R R35 oferece uma potência
            impressionante que supera os 500 cavalos de força, permitindo
            acelerações de tirar o fôlego e uma velocidade máxima que desafia os
            limites da engenharia. Mas o GT-R não é apenas sobre potência bruta.
            Seu sistema de tração nas quatro rodas ATTESA E-TS, junto com o
            controle dinâmico de desempenho, garante uma dirigibilidade
            excepcional, tornando-o tão ágil em pistas de corrida quanto
            confiável nas estradas comuns. O GT-R também é conhecido pelo seu
            design aerodinâmico e pela engenharia refinada, que combinam estilo
            e funcionalidade de forma magistral. Além de seu desempenho, o
            Nissan GT-R tem um legado de sucesso em corridas. Ele tem se
            destacado em várias competições e continua a ser uma presença
            constante em eventos de automobilismo, evidenciando a durabilidade e
            a eficácia de seu design. O GT-R é mais do que um carro; é uma
            obra-prima da engenharia automobilística que representa a dedicação
            à inovação e ao aperfeiçoamento. Cada detalhe do GT-R, desde seu
            motor robusto até seu sistema de suspensão avançado, é um testemunho
            do compromisso da Nissan com a excelência. Em suma, o Nissan GT-R é
            uma verdadeira lenda, continuando a cativar e inspirar entusiastas
            de carros em todo o mundo. Ele representa a combinação perfeita de
            potência, tecnologia e estilo, solidificando seu lugar na história
            como um dos maiores carros esportivos de todos os tempos.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img1"><span>Lamborghini</span></div>
        <div class="content">
          <!-- <div class="title">Lamborghini</div> -->
          <div class="desc">
            Fundada em 1963 por Ferruccio Lamborghini, a Automobili Lamborghini
            S.p.A. rapidamente se tornou um símbolo de luxo, desempenho e
            inovação no mundo automotivo. Ferruccio, insatisfeito com sua
            Ferrari, decidiu criar carros superiores, resultando no icônico
            Miura em 1966, considerado o primeiro supercarro moderno. Ao longo
            dos anos, modelos como o Countach, Diablo, Murciélago, Aventador e
            Huracán solidificaram a reputação da Lamborghini. A marca é
            conhecida por seu design arrojado, tecnologia avançada e motores
            potentes, como os V12 e V10. Inovações em fibra de carbono e
            iniciativas de eletrificação, como o híbrido Sián FKP 37, destacam
            seu compromisso com a sustentabilidade. Parte do grupo Volkswagen
            através da Audi AG, a Lamborghini expandiu sua linha com o SUV Urus,
            combinando desempenho de supercarro com versatilidade. A marca
            continua a empurrar os limites da engenharia automotiva, mantendo-se
            fiel à visão de Ferruccio: criar carros que são verdadeiras obras de
            arte em movimento.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img2"><span>Dodge</span></div>
        <div class="content">
          <!-- <div class="title">Dodge</div> -->
          <div class="desc">
            Quando se fala em carros esportivos, poucos nomes têm o mesmo peso e
            respeito que o Nissan GT-R. Este icônico veículo não é apenas uma
            máquina de alta performance, mas também um símbolo de inovação e
            excelência no design automotivo. A história do GT-R começa com o
            Nissan Skyline GT-R de 1969, um modelo que rapidamente conquistou
            uma legião de fãs no Japão e no mundo todo. Conhecido como
            "Godzilla" pelos entusiastas automotivos, o Skyline GT-R foi
            pioneiro na combinação de potência e tecnologia, estabelecendo novos
            padrões para carros esportivos. Em 2007, o GT-R foi reimaginado e
            reintroduzido ao mercado como o Nissan GT-R R35. Este modelo moderno
            trouxe uma série de melhorias significativas, consolidando o carro
            como uma verdadeira maravilha tecnológica. Equipado com um motor V6
            biturbo de 3.8 litros, o GT-R R35 oferece uma potência
            impressionante que supera os 500 cavalos de força, permitindo
            acelerações de tirar o fôlego e uma velocidade máxima que desafia os
            limites da engenharia. Mas o GT-R não é apenas sobre potência bruta.
            Seu sistema de tração nas quatro rodas ATTESA E-TS, junto com o
            controle dinâmico de desempenho, garante uma dirigibilidade
            excepcional, tornando-o tão ágil em pistas de corrida quanto
            confiável nas estradas comuns. O GT-R também é conhecido pelo seu
            design aerodinâmico e pela engenharia refinada, que combinam estilo
            e funcionalidade de forma magistral. Além de seu desempenho, o
            Nissan GT-R tem um legado de sucesso em corridas. Ele tem se
            destacado em várias competições e continua a ser uma presença
            constante em eventos de automobilismo, evidenciando a durabilidade e
            a eficácia de seu design. O GT-R é mais do que um carro; é uma
            obra-prima da engenharia automobilística que representa a dedicação
            à inovação e ao aperfeiçoamento. Cada detalhe do GT-R, desde seu
            motor robusto até seu sistema de suspensão avançado, é um testemunho
            do compromisso da Nissan com a excelência. Em suma, o Nissan GT-R é
            uma verdadeira lenda, continuando a cativar e inspirar entusiastas
            de carros em todo o mundo. Ele representa a combinação perfeita de
            potência, tecnologia e estilo, solidificando seu lugar na história
            como um dos maiores carros esportivos de todos os tempos.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img3"><span>Lancer</span></div>
        <div class="content">
          <!-- <div class="title">Lancer</div> -->
          <div class="desc">
            O Mitsubishi Lancer é um carro compacto produzido pela Mitsubishi
            Motors, lançado pela primeira vez em 1973. Conhecido por sua
            confiabilidade e desempenho acessível, o Lancer tem uma longa
            história de evolução, abrangendo várias gerações e modelos. O Lancer
            ganhou popularidade não apenas como um carro de passageiros, mas
            também nas pistas de rali, especialmente com a versão de alto
            desempenho Lancer Evolution (ou Evo). O Evo, em particular, é famoso
            por sua potência, tração nas quatro rodas e desempenho dinâmico,
            tornando-se um ícone entre os entusiastas de carros esportivos. Ao
            longo dos anos, o Lancer foi oferecido em diversas variantes,
            incluindo sedã, hatchback e station wagon, com uma ampla gama de
            motores para atender diferentes necessidades de mercado. Sua
            combinação de estilo, eficiência e tecnologia fez do Lancer um
            modelo respeitado e popular em vários mercados globais.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img4"><span>Ferrari</span></div>
        <div class="content">
          <!-- <div class="title">Ferrari</div> -->
          <div class="desc">
            A Ferrari é muito mais do que uma fabricante de automóveis; é um
            ícone da cultura automotiva e um símbolo de excelência em desempenho
            e design. Fundada em 1939 por Enzo Ferrari, a marca rapidamente se
            destacou no mundo das corridas, começando sua trajetória na Fórmula
            1, onde se tornou uma das equipes mais vitoriosas da história. Com
            um legado de conquistas que inclui múltiplos campeonatos de pilotos
            e construtores, a Ferrari conquistou o coração de fãs e entusiastas
            ao redor do mundo. Os carros da Ferrari são conhecidos por seu
            desempenho excepcional e engenharia de ponta. Modelos icônicos, como
            o Ferrari 250 GTO e o Ferrari LaFerrari, são não apenas exemplos de
            performance, mas também verdadeiras obras de arte sobre rodas. A
            marca é famosa por sua cor vermelha vibrante, que se tornou sinônimo
            de paixão e velocidade. Além de suas realizações nas pistas, a
            Ferrari é reconhecida por seu compromisso com a exclusividade e
            personalização. Cada veículo é meticulosamente projetado, permitindo
            que os clientes tenham uma experiência única ao adquirir um carro da
            marca. A combinação de tradição, inovação e um forte espírito de
            competição solidifica a Ferrari como uma das mais desejadas e
            respeitadas marcas do mundo automobilístico, continuando a inspirar
            gerações de amantes de carros e velocidade.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img5"><span>Porsche</span></div>
        <div class="content">
          <!-- <div class="title">Porsche</div> -->
          <div class="desc">
            A Porsche é uma renomada fabricante alemã de automóveis, famosa por
            sua combinação única de desempenho, design e engenharia de precisão.
            Fundada em 1931 por Ferdinand Porsche, a marca inicialmente se
            destacou como consultoria em engenharia, mas logo se tornou
            conhecida por seus próprios veículos. O primeiro modelo produzido
            foi o icônico Porsche 356, lançado em 1948, que estabeleceu as bases
            para o que viria a ser uma das linhas de carros esportivos mais
            respeitadas do mundo. A Porsche é sinônimo de inovação tecnológica e
            evolução contínua. O modelo mais emblemático da marca, o Porsche
            911, foi introduzido em 1964 e rapidamente se tornou um símbolo de
            desempenho e elegância, passando por diversas gerações enquanto
            mantém sua essência. Com seu design inconfundível e motor traseiro,
            o 911 é a personificação do espírito esportivo da Porsche. Além de
            sua fama nas ruas, a Porsche também brilha nas competições
            automobilísticas, especialmente em corridas de endurance, como as 24
            Horas de Le Mans, onde conquistou inúmeras vitórias. Essa
            experiência em pista se reflete diretamente em sua linha de
            produtos, garantindo que cada modelo ofereça não apenas potência,
            mas também uma condução dinâmica e envolvente. Nos últimos anos, a
            Porsche tem investido em mobilidade sustentável, lançando modelos
            elétricos, como o Taycan, que combina desempenho emocionante com
            tecnologia avançada. A marca continua a inovar, equilibrando
            tradição e modernidade, e se posiciona como um verdadeiro ícone no
            universo automotivo, atraindo tanto puristas quanto novos
            entusiastas. Com uma rica herança e um olhar voltado para o futuro,
            a Porsche permanece como um símbolo de excelência em automóveis
            esportivos.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img6"><span>McLaren</span></div>
        <div class="content">
          <!-- <div class="title">McLaren</div> -->
          <div class="desc">
            A McLaren é uma marca britânica de automóveis de alta performance,
            reconhecida por sua inovação, design arrojado e conquistas no
            automobilismo. Fundada em 1963 por Bruce McLaren, a empresa começou
            como uma equipe de corridas, rapidamente se destacando na Fórmula 1.
            Desde então, a McLaren se tornou sinônimo de velocidade e tecnologia
            de ponta, conquistando diversos campeonatos e estabelecendo um
            legado duradouro nas pistas. O primeiro carro de estrada da McLaren,
            o F1, lançado em 1992, revolucionou o mercado de supercarros com seu
            design leve e motor V12. Considerado um dos melhores carros já
            feitos, o F1 estabeleceu padrões de desempenho que influenciam a
            indústria até hoje. Nos anos seguintes, a McLaren continuou a
            expandir sua linha de supercarros, lançando modelos icônicos como o
            MP4-12C, P1 e, mais recentemente, o McLaren Artura. Cada um desses
            modelos combina tecnologia avançada com uma estética agressiva,
            oferecendo uma experiência de condução emocionante e envolvente. A
            McLaren também é conhecida por sua abordagem voltada para a
            inovação, utilizando materiais leves, como fibra de carbono, e
            tecnologias híbridas em seus veículos. Essa busca incessante por
            desempenho e eficiência destaca a marca como uma líder no setor
            automotivo. Com uma rica história nas pistas e um compromisso
            constante com a excelência, a McLaren continua a ser um símbolo de
            inovação e paixão pela velocidade, atraindo entusiastas e
            colecionadores ao redor do mundo.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img img7"><span>Aston Martin</span></div>
        <div class="content">
          <!-- <div class="title">Aston Martin</div> -->
          <div class="desc">
            A Aston Martin é uma icônica fabricante britânica de automóveis de
            luxo, conhecida por sua elegância, desempenho e tradição artesanal.
            Fundada em 1913 por Lionel Martin e Robert Bamford, a marca
            rapidamente se estabeleceu como sinônimo de sofisticação e estilo,
            ganhando notoriedade principalmente através de sua associação com o
            famoso personagem James Bond. Os carros da Aston Martin são
            reconhecidos por seu design distinto, que combina linhas clássicas
            com uma estética moderna. Modelos emblemáticos, como o DB5 e o DB11,
            exemplificam essa abordagem, oferecendo não apenas beleza, mas
            também desempenho excepcional. O DB5, em particular, se tornou um
            ícone cultural após aparecer em vários filmes de Bond, consolidando
            a imagem da marca como a escolha perfeita para o espionagem e o
            glamour. A Aston Martin se destaca também pela sua dedicação à
            engenharia de precisão. Cada veículo é meticulosamente projetado e
            fabricado, incorporando tecnologias avançadas que garantem uma
            experiência de condução dinâmica e envolvente. A marca tem investido
            em inovações, como motores V8 e V12, e, mais recentemente, em
            soluções híbridas e elétricas, mantendo seu compromisso com a
            performance e a sustentabilidade. Além de seu prestígio no setor
            automotivo, a Aston Martin tem uma rica história no automobilismo,
            participando de competições e conquistando títulos em corridas de
            endurance. Essa herança esportiva se reflete na engenharia e no
            design de seus carros de estrada. Com uma combinação de tradição,
            inovação e um legado inigualável, a Aston Martin continua a ser uma
            das marcas mais desejadas e respeitadas do mundo, atraindo
            apaixonados por automóveis de luxo e colecionadores ao redor do
            globo.
          </div>
        </div>
      </div>
    </div>

{% endblock %}