@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'roboto', sans-serif;
}

.footer {
    background-color: #222;
    color: #ecf0f1;
    padding: 20px 10%;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 35px;
    color: #fff
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* Pagina de carros */

.containers {
    width: 100%;
    min-height: 80vh;
    display: flex; 
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 23%; /* Aproximadamente 25% menos gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#000000, #000000);
    transition: all .5s;
    margin-bottom: 20px; /* Espaçamento vertical entre as linhas */
}

.card .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img0 { background-image: url('images/.img1.jpg');}
.card .img1 { background-image: url('images/.img2.jpg');}
.card .img2 { background-image: url('images/.img3.jpg');}
.card .img3 { background-image: url('images/.img4.jpg');}
.card .img4 { background-image: url('images/.img5.jpg');}
.card .img5 { background-image: url('images/.img6.jpg');}
.card .img6 { background-image: url('images/.img7.jpg');}
.card .img7 { background-image: url('images/img8.jpg');}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 110%;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    transform: translateY(30px);
}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
    text-align: justify;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .80;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

